[Unit]
Description=Postgresql container
Author=David Schmitz
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a uport/postgres
ExecStop=/usr/bin/docker stop -t 2 uport/postgres

[Install]
WantedBy=local.target
