[Unit]
Description=Jenkins container
Author=David Schmitz
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a uport/jenkins
ExecStop=/usr/bin/docker stop -t 2 uport/jenkins

[Install]
WantedBy=local.target
