[Unit]
Description=Mongodb
Author=David Schmitz
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a uport/mongodb
ExecStop=/usr/bin/docker stop uport/mongodb

[Install]
WantedBy=local.target
