[Unit]
Description=RabbitMQ container
Author=David Schmitz
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a uport/rabbitmq
ExecStop=/usr/bin/docker stop -t 2 uport/rabbitmq

[Install]
WantedBy=local.target
