[Unit]
Description=Nexus container
Author=David Schmitz
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a uport/nexus
ExecStop=/usr/bin/docker stop -t 2 uport/nexus

[Install]
WantedBy=local.target
